

.platform-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.platform-sections {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  height: 100%;
}

.nodes-flow-section {
  width: 400px;
  position: relative;
  display: flex;
}

.form-section {
  flex: 1;
}

.dnd-area {
  display: flex;
}